<!-- processes and appends this file in head -->
<%= vite_typescript_tag 'entrypoints/views/product/index' %>

<!-- dom element vue is going to render into -->
<div id="vue">
	<!-- vite asset path -->
	<img src="<%= vite_asset_path 'images/loading.gif' %>">
</div>

<br>
<br>

<!-- dom element react is going to render into -->
<div id="react">
	<!-- vite asset path -->
	<img src="<%= vite_asset_path 'images/loading.gif' %>">
</div>
